body{
    background-color: pink;
}
*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 80%;
    height: 600px;
 
 
}
#hinh{
    width: 50%;
    height: 80%;
    margin-left: 25%;
    margin-top: 10%;
}
